

/*-- ----------------------Body Style-----------------*/

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
    

}



/*-- ----------------------All Heading Style-----------------*/

.section1 {
    background-color: F7ECDE;
    height: 100%;
}


/*-- ----------------------All Heading Style-----------------*/

.h2, .h3, .h4, .h5, .h6 .footer {
    font-family: 'Montserrat', sans-serif;
    font-variant-ligatures: additional-ligatures;
    text-align: center;
    font-size: 25px;
    width: 50%;
    margin: 0 auto 0 auto;
    padding-top: 2%;
    text-size-adjust: 20; 
}


/*-- ----------------------All P Style-----------------*/

.p1, .p2, .p3, .p4, .p5, .p6 {
    line-height: 2;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    width: 50%;
    margin: 0 auto 0 auto;
    padding-top: 1%;
    text-size-adjust: 20;
}


/*-- ----------------------All images Style-----------------*/

.i2, .i3, .i4, .i5, .i6 {
    margin: 100px auto 100px auto;
    width: 25%;
    size: 100px 100px;
    display: block;
    width: auto;
}

/*-- ----------------------All line Style-----------------*/

hr {
    border: dotted #484951 9px;
    border-bottom: none;
    width: 4%;
    margin: 70px auto;
}






/*-- ----------------------Section 1,h1.p1,i1 Style-----------------*/


.h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;text-emphasis: 15%;
    font-size: 70px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding-top: 10%;
}

.i1 {
    margin: 100px auto 100px auto;
    
    opacity: 0.8;
    display: block;
    width: auto;
}





/*-- ----------------------Section header Style-----------------*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b4b111;
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 25px;
    margin: 0%;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/*-- ----------------------Button Style-----------------*/

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #a384a3;
    -moz-box-shadow: 0px 1px 3px #a384a3;
    box-shadow: 0px 1px 3px #a384a3;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #a8a848;
    padding: 3px 18px 8px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }


  
/*-- ----------------------Section Footer-----------------*/

.footer {
    margin: 10px 20px;
    padding: 10px;
    background-color: #b4b111;
    color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 3%;
    margin: 0;
    width: 100%;
    padding-top: 2%;
     
}

.footer-link {
    margin: 100% auto;
    padding: 1%;
}

