

html, body {
    width: 100%;
}

/*-- ----------------------Body Style-----------------*/

html, body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    width: 100%;

}



/*-- ----------------------All Heading Style-----------------*/

.section1 {
    background-color: #FFEDDB;
    height: 100%;
}



/*-- ----------------------All Heading Style-----------------*/

.h2, .h3, .h4, .h5, .h6 .footer {
    font-family: 'Montserrat', sans-serif;
    font-variant-ligatures: additional-ligatures;
    text-align: center;
    font-size: 25px;
    width: 50%;
    margin: 0 auto 0 auto;
    padding-top: 2%;
    text-size-adjust: 20; 
}


/*-- ----------------------All P Style-----------------*/

.p1, .p2, .p3, .p4, .p5, .p6 {
    line-height: 2;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    width: 50%;
    margin: 0 auto 0 auto;
    padding-top: 1%;
    text-size-adjust: 20;
}


/*-- ----------------------All images Style-----------------*/

.i2, .i3, .i4, .i5, .i6 {
    margin: 100px auto 100px auto;
    
    size: 100px 100px;
    display: block;
    width: auto;
}

/*-- ----------------------All line Style-----------------*/

hr {
    border: dotted #484951 9px;
    border-bottom: none;
    width: 4%;
    margin: 70px auto;
}



/*-- ----------------------Section 1,h1.p1,i1 Style-----------------*/


.h1 {
    
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding-top: 10%;
}

.i1 {
    margin: 100px auto 100px auto;
    opacity: 0.8;
    display: block;
    width: auto;
}

.i1 > img {
    max-width: 100%;
}





/*-- ----------------------Section header Style-----------------*/

    


.header {
    
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #a09e10;
    color: #ffffff;
}
.header h1 {
    
    font-size: 25px; text-align: left;
    margin: 0%;
}
 

.header div {
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #a09e10;
    
}


.header div ul li {
    display: inline-block; size-adjust: auto;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/*-- ----------------------Button Style-----------------*/

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #a384a3;
    -moz-box-shadow: 0px 1px 3px #a384a3;
    box-shadow: 0px 1px 3px #a384a3;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #a8a848;
    padding: 3px 18px 8px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }


  
/*-- ----------------------Section Footer-----------------*/

.footer {
    margin: 10px 0px 20px 0px;
    background-color: #a09e10;
    color: #ffffff;
    padding: 2% 0% 3% 0%;  
    
    font-family: 'Montserrat', sans-serif; 
    
   
}

.footer-link {
    margin: 100% auto;
    padding: 1%;
}

